@media (max-width: 768px){
    .contacts{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .contacts__form{
        margin-right: 0;
    }
    .contacts__list{
        width: 90%;
        height: 400px;
        margin-top: 40px;        
    }
}
@media (max-width: 425px){
    .btn_edit,
    .btn_remove{
        margin-left: 30px;
        height: 30px;
        width: 80px;
    }
    .contacts__item{
        width: 280px;
        height: 260px;
    }
    .list{
        height: 200px ;
    }
}
@media (max-width: 408px){
    .contacts__form{
        width: 90%;
        padding: 15px;      
    }
}
@media (max-width: 350px){
    .contacts__item{
        margin: 0;
        margin-top: 20px;
    }
}